body {
  /* background: linear-gradient(135deg, #3a1c71, #d76d77, #ffaf7b);
  background-color: #3a1c71; */

  background: url("red-stage-background.avif") no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
  color: #fff;
  margin: 0 auto;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header h1,
p {
  margin: 0.5em;
  text-align: center;
  font-size: 2em;
}

#winner {
  width: 6em;
  border: solid black;
  padding: 0;
  border-radius: 2em;
  font-weight: bolder;
}

.wheel {
  display: flex;
  justify-content: center;
  position: relative;
}

.center-circle {
  border: solid black 3px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid rgb(255, 255, 255);
  position: absolute;
  top: -290%;
  right: 50%;
  transform: translateX(50%);
}

textarea {
  background-color: rgba(20, 20, 20, 0.2);
  caret-color: #fff;
  resize: none;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.input-area {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  text-transform: capitalize;
}

.spin {
  font-size: 1.5em;
  font-weight: bolder;
}

.btn-group-after-spin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

#btn-remove-name {
  width: 8em;
  font-size: large;
  border: solid black;
  padding: 0;
  border-radius: 2em;
  font-weight: bolder;
}

#btn-spin-again {
  width: 8em;
  font-size: large;
  border: solid black;
  padding: 0;
  border-radius: 2em;
  font-weight: bolder;
}

.hidden {
  opacity: 0;
  transition: 0.5s;
}

.visible {
  opacity: 1;
  transition: 0.5s;
}
